@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {	
	font-family: 'Open Sans', sans-serif;

	font-size: 16px;

	--bg-secondary: #3498db;
	--bg-primary: #1e1e1e;
	--bg-primary-opacity: #1e1e1e75;
	--bg-third: #141414;
	--main-color: whitesmoke;
	--bg-secondary: #3498db;
	--third-color: #969899;
	--header-height: 85px;
	--text-normal: whitesmoke;
	--text-normal-hover: #969899;
	--fa-primary: #34b9ee;
	--fa-secondary: #2ca1cf;
	--fa-third: #268cb4;
	--warning-color: #ea4646;
	--good-color: #43b581;
	--medium-color: #faa61a;
	--off-color: #6e7985;
	--color-blue: #1c9eff;
	--color-blue-hover: #007ad6;
	--color-red: #cc3300;
	--color-green: #339900;
	--color-yellow: #ffcc00

	--nav-height: 80px;
	--normal-text-font-size: 14px;
	--transition-speed: 600ms;
	--transition: 0.25s;
	--border-radius: 8px;
	
	@media screen and (max-width: 800px) {
		--nav-width: 1024px;
		--nav-height: 50px;
	};
}

*,
*:before,
*:after {
	box-sizing: border-box;
	font-weight: normal;
	font-style: normal;
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: none;
}
::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background: rgb(58, 57, 57);
}
.pdp-33 {
	height: 33px;
	border-radius: 100%;
}
.pdp-40 {
	height: 40px;
	border-radius: 100%;
}
.pdp-100 {
	height: 100px;
	border-radius: 100%;
}

a {
  transition: var(--transition);
  color: var(--text-normal);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    transition: var(--transition);
    color: var(--text-normal-hover);
  }
}

.fa-primary {
	color: var(--fa-primary);
}
.fa-secondary {
	color: var(--fa-secondary);
}
.fa-third {
	color: var(--fa-third);
}
.fa-primary,
.fa-secondary,
.fa-third {
	transition: var(--transition-speed);
}

.red {
	color: var(--warning-color);
}

.reverse {
	flex-direction: row-reverse;
}

body {
	width: 100%;
	max-width: 100vw;
	height: 100%;
	margin: 0;
	overflow-wrap: break-word;
	overflow-x: hidden;
	scroll-behavior: smooth;
	width: 100%;
	max-width: 100vw;
	height: 100%;
	overflow-wrap: break-word;
	overflow-x: hidden;
	scroll-behavior: smooth;
	.body {
		position: relative;
		overflow-x: hidden;
		min-height: calc(100vh - 40px);
		max-width: 100vw;
		color: #fff;
	}
}
html {
	color: var(--main-color);
	scroll-behavior: smooth;
	text-align: center;
	background-color: var(--bg-primary);
	padding-bottom: 5px;
}

.send_info {
	left: var(--nav-width);
    z-index: 2000;
    position: fixed;
    bottom: 0px;
    padding: 0px 40px 24px;    
	right: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
	animation: notyf-fadeinleft 0.3s forwards;

	.bar {
		border-radius: 4px;
		background-color: var(--bg-third);
		padding: 16px;
		display: flex;
		flex-flow: row wrap;
		flex-grow: 1;
		align-items: center;
		justify-content: space-between;

		.buttons {
			
			display: flex;
			flex-flow: row wrap;
			gap: 5px;

			button {
				transition: var(--transition) ease-in-out;
				border: none;
				background: none;
				text-transform: capitalize;
				cursor: pointer;
				color: var(--text-normal);

				&.cancel {
					color: var(--warning-color);
					svg {
						animation: loading 1000ms linear infinite;
					}

					&:hover {
						text-decoration: underline;
					}
				}

				&.save {
					transition: var(--transition);
					text-transform: uppercase;
					font-weight: 800;
					color: var(--good-color);

					&.loader {
						svg {
							animation: loading 1000ms linear infinite;
						}
					}

					&:hover {
						transition: var(--transition);
						color: var(--text-normal);
					}
				}
			}
		}
	}
}

.list-boxe {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;

	.input {
		transition: var(--transition);
		min-height: 45px;
		max-width: 33%;
		width: 100%;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0px;
		background: var(--bg-third);
		border-radius: 5px;
		padding: 10px 15px;
		border: 1px solid transparent;
		outline: none;

		&:hover {
			transition: var(--transition);
			border: 1px solid var(--bg-secondary);
		}

		input {
			color: var(--text-normal);
			width: 100%;
			outline: 0;
			background: var(--bg-third);
			border-radius: 5px;
			border: 1px solid transparent;
			outline: none;

		}
	}

	.options {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background: var(--bg-third);
		max-width: 33%;
		border-radius: 5px;
		padding: 10px 15px;

		.option {
			cursor: pointer;
			transition: var(--transition);
			padding: 5px;
			border-radius: 5px;

			&.selected {

				background: var(--bg-secondary);

				&:hover {
					transition: var(--transition);
					background: var(--bg-secondary);
				}
			}
			&:hover {
				transition: var(--transition);
				background: var(--bg-primary-opacity);
			}
		}
	}
}

.input-boxe {
	width: 100%;

	input {
		color: var(--text-normal);
		min-height: 45px;
		width: 33%;
		outline: 0;
		background: var(--bg-third);
		font-weight: 900;
		border-radius: 5px;
		padding: 10px 15px;
		border: 1px solid transparent;
		outline: none;

		&:hover {
			transition: var(--transition);
			border: 1px solid var(--bg-secondary);
		}
		
		&:focus {
			transition: var(--transition);
			border: 1px solid var(--bg-secondary);
		}
	}
}

.main {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	svg {
		width: 22px;
		height: 22px;
	}

	.dashboard-home {
		display: flex;
		flex-flow: column wrap;

		h2 {
			text-transform: capitalize;
			font-weight: 800;
		}
		
		.guild-info {
			width: 50vw;
			padding: 10px;
			margin: 1em;
			border-bottom: 1px solid var(--bg-secondary);
			transform: translateY(0);
			border-radius: 8px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			.top-informations {
				max-width: 50%;
				display: flex;
				flex-direction: row;
				align-items: center;
				text-transform: uppercase;

				span, svg {
					margin-left: 5px;
				}
				span {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;		
					font-weight: 600;
				}
			}

			.bottom-informations {
				span {
					transition: var(--transition);
					color: var(--bg-primary);
					background-color: var(--bg-secondary);
					padding: 10px;
					border-radius: 5px;
					 
					&:hover {
						transition: var(--transition);
						filter: grayscale(0.60);
					}
				}
			}
		}
	}
}

header {
	height: 80px;
	nav {
		.NavBar {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.header-web {
		padding: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		a {
			font-weight: bold;
			text-decoration: none;
			text-transform: uppercase;
			padding: 14px 16px;
		}
	}
	.header-mobile {
		display: none;
		justify-content: space-between;
		align-items: center;
		z-index: 9999;
	}
}

.header-mobile {
	.mobile-head {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 9999;
		padding-top: 10px;
	}
}

.mobile-container {
	position: absolute;
	flex-basis: 100%;
	width: 100%;
	height: 100vh;
	top: -110vh;
	z-index: 999;
	transition: top 0.7s ease-in-out;
	justify-content: space-evenly;
	background: #1e1e1e;
	&.visible {
		top: 50px;
	}
}

.NavBar-mobile-links {
	display: flex;
	position: absolute;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	height: 80%;
	width: 100%;
	display: flex;
	position: absolute;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	height: 80%;
	width: 100%;
	a {
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.Hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 12vh;
	height: calc(100vh - 205px);
}

.Hero-text {
	display: grid;
	place-items: center;
	h1 {
		font-size: 90px;
		line-height: 98px;
		text-transform: uppercase;
	}
	p {
		font-size: 24px;
		text-align: center;
		width: 475px;
		font-family: Montserrat;
		font-weight: 500;
	}
}

.btn_index {
	width: 200px;
	height: 60px;
	background: none;
	border: 4px solid;
	color: var(--bg-secondary);
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 16px;
	position: relative;
	margin: 10px;
	&::before {
		top: -4px;
		left: 10%;
	}
	&::after {
		bottom: -4px;
		right: 10%;
	}
	&:hover {
		&::before {
			left: 80%;
		}
		&::after {
			right: 80%;
		}
	}
}
.btn_index::before,
.btn::after {
	content: "";
	position: absolute;
	width: 14px;
	height: 4px;
	background: #353b48;
	transform: skewX(50deg);
	transition: 0.4s linear;
}
.Section {
	text-align: left;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 40px;
	box-sizing: border-box;
	.SectionInner {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 1440px;
		.SectionText {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			padding-inline-end: 100px;
			p {
				font-size: 19px;
				color: var(--text-normal-hover);
				line-height: 1.8em;
				margin-top: 5px;
			}
		}
	}
}
.SectionInner {
	.SectionImg {
		box-flex: 1;
		flex: 1;
		display: flex;
		padding: 50px;
		justify-content: center;
		align-items: center;
		img {
			width: 100%;
			border-radius: 10px;
		}
	}
	.SectionText {
		h2 {
			font-size: 26px;
			text-transform: none;
			font-weight: 500;
			line-height: 1.5em;
			margin-top: 0;
			padding-top: 0;
		}
	}
}
section {
	&.premium {
		text-align: center;
		.titre {
			color: var(--main-color);
			text-transform: uppercase;
		}
		.premium-image-tochange {
			border-radius: 0%;
			width: 841px;
			height: 238px;
			margin: 0 auto;
			position: relative;
			display: table;
			background-size: cover;
			background-position: center center;
			box-shadow: 0 5px 8px rgb(0 0 0 / 35%);
			cursor: pointer;
		}
		#input-preview-image {
			display: none;
		}
		.image_tableau {
			border-radius: 0%;
			width: 841px;
			height: 238px;
			margin: 0 auto;
			position: relative;
			display: table;
			background-size: cover;
			background-position: center center;
			box-shadow: 0 5px 8px rgb(0 0 0 / 35%);
			margin-top: 20px;
		}
	}
}
.form {
	.non {
		display: none;
	}
	button {
		cursor: pointer;
		width: 20%;
		-webkit-appearance: none;
		line-height: 40px;
		color: #fff;
		border: none;
		background-color: #3498db;
		margin: 30px;
		font-size: 13px;
		-webkit-font-smoothing: antialiased;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}
.leaderboardContainer {
	width: 50%;
	margin: auto;
}
.leaderboard {
	.users_informations {
		background: #262627;
		.userInfo {
			padding: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 2px solid#1e1e1e;
		}
		span {
			margin: 10px;
			&.number {
				font-weight: bold;
			}
		}
		.avatar {
			vertical-align: middle;
		}
	}
	.guildInfo {
		display: flex;
		span {
			margin: 25px;
		}
	}
}
.section-commands {
	display: none;
	margin: 10px;
	text-align: left;
	&.visible {
		display: flex;
		flex-direction: column;
	}
	.commands {
		background: #262627;
		padding: 10px;
		margin-bottom: 5px;
		border-radius: 8px;
	}
	.commands-title {
		span {
			font-size: 18px;
			font-weight: bold;
		}
	}
}
#helps {
	a {
		padding: 10px;
		width: 100px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.navigation {
		margin-bottom: 10px;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.login {
	.avatar {
		vertical-align: middle;
		margin-left: 10px;
	}
}
.guild-info {
	.top-informations {
		.guild-name {
			span {
				align-items: center;
			}
		}
	}
}

@media (max-width: 800px) {

  .body {
    margin: 5px;
  }
  header {
    .header-web {
      display: none;
    }
    .header-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        display: none;
      }
    }
  }
  .Hero {
    height: calc(100vh - 150px);
    p {
      font-size: 18px;
      width: 100vw;
      padding: 0 5vw;
      box-sizing: border-box;
    }
  }
  .Hero-text {
    display: block;
    text-align: center;
    max-width: 100vw;
    h1 {
      font-size: 70px;
      line-height: 70px;
    }
  }
  .Section {
    padding: 0px;
    .SectionInner {
      flex-direction: column;
      .SectionText {
        padding-inline-end: 0px;
      }
    }
  }
  .SectionInner {
    .SectionImg {
      padding: 0px;
    }
  }
  .leaderboardContainer {
    width: 100%;
    margin: none;
    .users_informations_left {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .username {
      display: none;
    }
    .experience {
      display: none;
    }
  }
  section {
    &.premium {
      .premium-image-tochange {
        width: 100vw;
        height: 20vh;
        background-size: auto;
        background-repeat: no-repeat;
      }
      .image_tableau {
        width: 100vw;
        height: auto;
      }
    }
  }
  .form {
    button {
      width: 100%;
      margin: 0;
      margin-top: 10px;
    }
  }
  #helps {
    .navigation {
      width: 100%;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
  .main {
	.dashboard-home {
		
		.guild-info {
			width: 100vw;
		}
	}
}
}

.searchsection {

	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;

	input {
		color: var(--text-normal);
		border: none;
		background: none;
		margin-top: 10px;
		padding: 10px;
		width: 100%;
		outline: 0;
		border-bottom: 1px solid var(--text-normal-hover);

		&:focus {
			border-width: 1px;
			border-image: linear-gradient(90deg, var(--fa-third),var(--fa-primary));
			border-image-slice: 1;
		}
	}

	button {
		cursor: pointer;
		margin-left: -30px;
		background: none;
		border: none;
	}

}

@keyframes loading {
	100% { transform: rotate(360deg); }
}