$bg-secondary: #2f3136;
$bg-primary: #1e1e1e;
$bg-primary-opacity: #1e1e1e75;
$main-color: #dddddd;
$third-color: #969899;
$text-normal: #dddddd;
$text-normal-hover: #969899;
$fa-primary: #34b9ee;
$fa-secondary: #2ca1cf;
$fa-third: #268cb4;
$warning-color: #ea4646;
$good-color: #43b581;
$medium-color: #faa61a;
$off-color: #6e7985;
$color-blue: #1c9eff;
$color-blue-hover: #007ad6;
$color-red: #cc3300;
$color-green: #339900;
$color-yellow: #ffcc00;

$nav-height: 80px;
$normal-text-font-size: 14px;
$transition-speed: 600ms;
$transition: 0.25s;
$border-radius: 8px;